/*****
  Base Stylesheet for Matt Curtin Portfolio Site
*****/

body {
  background: #0E0017;
  color: #fff;
  font-family: 'Figtree', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  padding-top: 110px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

a {
  color: #0B43AA;
}

a:hover,
a:focus {
  color: #003366;
  text-decoration: underline;
}

.link {
  color: #fff;
  font-weight: 700;
}

.link:hover,
.link:focus {
  color: #f88cd6;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.header {
  background: #010002;
  box-shadow: 0 .25em .25em -.125em rgba(0,0,0,.25), 0 .5em 1.25em rgba(0,0,0,.25);
}

.header-container {
  text-align: center;
}

.navbar-header {
  width: 100%;
}

.navbar-toggler {
  padding: .25rem 0;
}

.navbar-header:after {
  clear: both;
  content: '';
  display: block;
}

.logo {
  display: inline-block;
  padding: 10px 0;
}

.logo a {
  display: block;
}

.logo a,
.logo a:hover,
.logo a:focus {
  text-decoration: none;
}

.logo .icon {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  vertical-align: middle;
  width: 50px;
}

.logo .logo-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.logo-text-main {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: -2px;
}

.logo-text-sub {
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.logo .name,
.logo .tagline {
  display: block;
}

.navbar-toggle {
  border-radius: 0;
  display: block;
  float: left;
  margin: 0;
}

.navbar-toggle.is-open {
  background: #f6f0f7;
}

.navbar-expand-lg .navbar-nav {
  display: block;
}

.menu-text {
  color: #4f4f4f;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.offcanvas-collapse {
  position: fixed;
  top:92px;
  bottom: 0;
  right: -300px;
  width: 300px;
  padding-top: 2rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #1b2a41;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: right, visibility;
}

.offcanvas-collapse.open {
  right: 0;
  visibility: visible;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav li {
  border-bottom: 1px solid #000;
}

.navbar-nav a {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding: 1rem;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: color;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
  color: #f88cd6;
  text-decoration: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav a.active {
  color: #f88cd6;
}

.nav-scroller .nav {
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.main-navigation-wrapper {
  background: #f6f0f7;
}

.hero-wrapper {
  background-image: linear-gradient(to left top, #910a67, #870c60, #7d0d58, #740e51, #6a0e4a, #640c48, #5d0b47, #570945, #520648, #4c054c, #45064f, #3c0753);
  color: #fff;
  overflow: hidden;
  padding: 25px 0;
  position: relative;
}

.hero-wrapper::after {
  background: url('../images/hero-lines.svg') no-repeat left top;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  right: -45%;
  opacity: .25;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-wrapper .container {
  position: relative;
  z-index: 100;
}

.hero-wrapper h1 {
  color: #fff;
}

.hero-wrapper p {
  color: #fff;
}

.hero-wrapper a {
  color: #fff;
  font-weight: 700;
}

.content-section {
  padding: 25px 0;
}

.card {
  border-radius: 0;
}

.main-content-wrapper {
  padding: 2rem 0;
}

.main-content-wrapper h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.main-content-wrapper p {
  font-size: 16px;
  line-height: 28px;
}

b, strong {
  font-weight: 700;
}

.main-content-wrapper ul {
  font-size: 16px;
  line-height: 28px;
}

.work-thumb {
  background: #222;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 60px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 28px;
}

.btn-lg {
  font-size: 1.4rem;
  padding: 16px 32px;
}

.btn-primary {
  background: #910A67;
  border-color: #910A67;
}

.btn-primary:hover {
  background: #720851;
  border-color: #720851;
}

.hero-wrapper .btn-light {
  color: #0E0017;
}

.hero-wrapper .btn-light:hover {
  background: #0E0017;
  border-color: #0E0017;
  color: #fff;
}

.figure-caption {
  color: #fff;
  font-size: .9rem;
}

.footer a {
  color: #fff;
}

.footer a:hover, 
.footer a:focus {
  color: #f88cd6;
}

.footer-container {
  border-top: 1px solid #222;
  padding: 2rem 0;
}

.copyright {
  font-size: .8rem;
  font-weight: 300;
}

/** Tablet Media Queries **/

@media (min-width: 768px) {

  p {
    font-size: 18px;
    line-height: 24px;
  }
  
  .main-content-wrapper p {
    font-size: 20px;
    line-height: 32px;
  }
  
  .main-content-wrapper ul {
    font-size: 20px;
    line-height: 32px;
}
  
  .main-content-wrapper .figure-caption {
    font-size: 14px;
    line-height: 18px;
  }

  .navbar-nav {
    align-items: flex-end;
    gap: 2rem;
    justify-content: flex-end;
    text-align: right;
  }

  .navbar-nav > li {
    display: inline-block;
  }

  .navbar-toggle {
    padding: 40px 25px;
  }

  .hero-wrapper {
    padding: 65px 0;
  }
  
  .hero-wrapper::after {
    opacity: .35;
  }

  .hero-wrapper h1 {
    font-size: 64px;
    margin-bottom: 10px;
  }

  .hero-wrapper p {
    font-size: 20px;
    line-height: 30px;
  }

  .content-section {
    padding: 50px 0;
  }

  .main-content-wrapper h2 {
    font-size: 42px;
  }
}

/* Custom Media Query */
@media (min-width: 992px) and (max-width: 1200px) {
  .hero-wrapper img {
    max-width: 125%;
  }
}

/* Desktop Media Queries */
@media (min-width: 1200px) {
  .hero-wrapper h1 {
    font-size: 75px;
    margin-bottom: 18px;
  }
}
