/*****
  Base Stylesheet for Matt Curtin Portfolio Site
*****/

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  color: #4f4f4f;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #4b2d87;
}

a:hover,
a:focus {
  color: #2f1d56;
  text-decoration: underline;
}

.btn {
  background: #4b2d87;
  border: 0;
  box-shadow: none;
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 25px;
}

.btn:hover,
.btn:focus {
  background: #2f1d56;
  outline: none;
}

.btn-primary {
  background: #ed6d23;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #ef560a;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background: #ef560a;
  box-shadow: none;
}


.header {
  background: #fff;
  border-bottom: 5px solid #ed6d23;
  width: 100%;
}

.header-container {
  text-align: center;
}

.navbar-header {
  width: 100%;
}

.navbar-header:after {
  clear: both;
  content: '';
  display: block;
}

.logo {
  display: inline-block;
  padding: 15px 0;
}

.logo a {
  display: block;
}

.logo a,
.logo a:hover,
.logo a:focus {
  text-decoration: none;
}

.logo .icon {
  display: inline-block;
  height: 75px;
  margin-right: 10px;
  vertical-align: middle;
  width: 65px;
}

.logo .logo-text {
  display: inline-block;
  margin-top: 5px;
  text-align: left;
  vertical-align: middle;
}

.logo .name,
.logo .tagline {
  display: block;
}

.logo .name {
  color: #4b2d87;
  font-size: 30px;
  font-weight: 700;
}

.logo .tagline {
  color: #ec6d24;
  font-size: 18px;
}

.main-navigation-button {
  float: left;
}

.social-navigation-button {
  float: right;
}

.menu-icon,
.social-icon {
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  margin-top: -4px;
  vertical-align: middle;
  width: 20px;
}

.menu-icon {
  background: url('../images/menu.svg') no-repeat left top;
  background-size: cover;
  height: 17px;
}

.social-icon {
  background: url('../images/social.svg') no-repeat left top;
  background-size: cover;
}

.is-open .menu-icon {
  background: url('../images/menu_active.svg') no-repeat left top;
  background-size: cover;
}

.is-open .social-icon {
  background: url('../images/social_active.svg') no-repeat left top;
  background-size: cover;
}

.navbar-toggle {
  border-radius: 0;
  display: block;
  float: left;
  margin: 0;
}

.navbar-toggle.is-open {
  background: #f6f0f7;
}

.social-toggle {
  display: block;
  float: right;
}

.menu-text {
  color: #4f4f4f;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.is-open .menu-text {
  color: #692c90;
}

.main-navigation-wrapper {
  background: #f6f0f7;
}

.navbar-collapse.collapse {
  display: none !important;
  height: inherit !important;
  overflow: hidden !important;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-nav {
  float: none;
  text-align: left;
}

.navbar-nav > li {
  display: block;
  float: none;
}

.navbar-nav a {
  color: #692c90;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav > li > a:focus,
.nav > li >a:hover {
  background: #fff;
  color: #5a267b;
}

.hero-wrapper {
  background: #4b2d87;
  color: #fff;
  padding: 20px 15px;
  text-align: center;
}

.hero-wrapper h1 {
  color: #fff;
}

.hero-wrapper p {
  color: #fff;
}

.hero-wrapper a {
  color: #d5adee;
}

.hero-wrapper .btn {
  margin-top: 20px;
}

.hero-wrapper .resume-link {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
}

.resume-link:before {
  background: url('../images/pdf_download_white.svg') no-repeat left top;
  background-size: cover;
  content: '';
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  position: relative;
  top: -5px;
  vertical-align: middle;
  width: 30px;
}

.content-section {
  padding: 25px 0;
}

.main-content-wrapper h2 {
  color: #4b2d87;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.main-content-wrapper p {
  color: #4f4f4f;
  font-size: 16px;
  line-height: 26px;
}

.main-content-wrapper .about-container h2 {
  color: #ec6d24;
}

.about-container {
  background: #fce4d7;
}

.bio-photo {
  background: #f9fafc;
  border: 5px solid #fff;
  border-radius: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.bio-photo img {
  left: -20px;
  position: relative;
  top: -10px;
}

.skills-container {
  background: #f6f0f7;
}

.skills-container h4 {
  margin: 15px 0 8px;
  text-align: center;
  text-transform: uppercase;
}

.skills-container img {
  display: block;
  height: auto;
  margin: 0 auto 10px;
  max-width: 100%;
  width: 135px;
}

.skills-container .label {
  bottom: -8px;
  color: #222;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.skills-container ul {
  font-size: 18px;
  list-style: none;
}

.skills-container li {
  background: url('../images/bullet_purple.svg') no-repeat left center;
  background-size: 12px 12px;
  margin-bottom: 15px;
  padding-left: 22px;
  position: relative;
}

.platforms,
.key-skills {
  margin-bottom: 35px;
  text-align: center;
}

.platforms .row,
.key-skills .row {
  display: flex;
}

.platforms:after,
.key-skills:after {
  clear: both;
  content: '';
  display: block;
}

.platforms .col,
.key-skills .col {
  padding-bottom: 20px;
  position: relative;
}

.html5,
.sass {
  margin-top: 15px;
}

.footer {
  background: #fff;
  border-top: 5px solid #ed6d23;
}

.footer-container {
  padding: 15px 0;
  text-align: center;
}

.footer-container p {
  color: #4f4f4f;
  font-size: 12px;
  font-weight: 400;
}

/** Tablet Media Queries **/

@media (min-width: 768px) {

  .btn {
    font-size: 20px;
    padding: 20px 35px;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
  }

  .navbar-toggle {
    padding: 40px 25px;
  }

  .menu-icon, .social-icon {
    height: 30px;
    margin-top: -8px;
    width: 30px;
  }

  .menu-icon {
    height: 25px;
  }

  .hero-wrapper {
    padding: 65px 15px;
  }

  .hero-wrapper h1 {
    font-size: 60px;
    margin-bottom: 18px;
  }

  .hero-wrapper p {
    font-size: 20px;
    line-height: 30px;
    padding: 0 28px;
  }

  .hero-wrapper .resume-link {
    margin-top: 45px;
  }

  .content-section {
    padding: 50px 0;
  }

  .main-content-wrapper h2 {
    font-size: 42px;
  }

  .platforms,
  .key-skills {
    margin-bottom: 45px;
    margin-top: 25px;
  }
}